@import './utilidades/variables';
@import './utilidades/mixin';
@import './utilidades/mapas';
@import './base/fuentes';
@import './base/generales';
@import './layout/header';
@import './pages/index';
@import './layout/footer';
@import './pages/menu';
@import './pages/nosotros';
@import './pages/promos';
@import './pages/contacto';
@import './base/queries';








